<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Joseph Crypto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
</head>
<body>
<br>
<h1 class="text-center">Biker-Spot Shop

</h1>
<br><br>

<table id="example" class="table table-dark table-bordered text-center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Year</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created_Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody th:with="count=0">
    <tr th:each = "product, hh : ${products}">
        <td th:with="count=${count + 1}" th:text="${count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.year}"></td>
        <td><img th:src="@{${'/product/display/'+ product.getId()}}"
                 class="card img-fluid" style="width:300px" alt=""/></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${#dates.format({product.createDate}, 'dd-MM-yyyy')}"/></td>
        <td><a th:href="@{/product/productDetails(id=${product.getId()})}" class="btn btn-info text-right" target="_blank">View</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/home}" class="btn btn-info text-right">Back </a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>
</html>